@media (max-width: 768px) {

    html,
    body {
        min-width: 768px;
        width: 100%;
        margin: 0;
        overflow: auto;
    }

    .header {
        background-image: url(../img/11.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .header-container {
        margin: 0 36px;
    }

    .available-on {
        margin-left: 365px;
    }

    .about-container {
        margin: 70px 36px;
        padding: 0;
    }

    .about-text {
        margin-right: 300px;
    }

    .about-intro {
        margin-right: 200px;
    }

    .intro {
        width: 788px;
    }

    .buy-img {
        width: 332px;
    }

    .about-img {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .left-imgs {
        display: flex;
        flex-direction: row;
    }

    .right-img {
        background-image: url(../img/Rectangle\ 61\ 1.png);
        width: 952px;
        height: 424px;
    }

    .win {
        padding: 0 36px;
        padding-bottom: 50px;
    }

    .win-header {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .win-container {
        display: flex;
        flex-direction: column;
    }

    .win-text {
        width: 460px;
    }

    .play-win {
        width: 460px;
        padding-right: 100px;
    }

    .consoles {
        margin-top: -432px;
    }

    .win-form-left {
        margin-top: 60px;
    }

    .hp {
        padding: 70px 36px;
        padding-bottom: 150px;
    }

    .hp-text {
        margin-top: -30px;
    }

    .hp-logo {
        margin-top: 10px;
        margin-left: 70px;
    }

    .hp-text:last-child {
        margin-bottom: 0;
    }

    .immerse {
        margin-right: 100px;
    }

    .more {
        height: 59px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
    }

    .footer-logos {
        margin-left: 40px;
    }

    .footer-license {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-right: 40px;
    }
}

@media (max-width: 320px) {
    body {
        max-width: 320px;
        margin: 0 auto;
    }

    .header {
        background-image: url(../img/11-1.jpg);
        background-position: top;
        background-repeat: no-repeat;
        height: 713px;
    }

    .header-container {
        margin: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .available-on {
        background-image: url(../img/Rectangle\ 59-1.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 320px;
        height: 207px;
        margin-top: 445px;
        margin-left: 0;
        padding: 10px;
        padding-left: 40px;
        gap: 30px;
    }

    .btn {
        font-size: 20px;
        width: 244px;
        height: 60px;
    }

    h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .about {
        margin-left: -25px;
    }

    .about-container {
        margin-top: 100px;
    }

    .about-intro {
        margin-right: 0px;
    }

    .about-text {
        margin: 0;
        width: 296px;
    }

    .intro {
        width: 296px;
        line-height: 32px;
    }

    .about-img {
        margin-top: -50px;
        margin-left: -20px;
        margin-right: -40px;
    }

    .left-imgs {
        margin-top: 30px;
        gap: 60px;
    }

    .right-img {
        background-image: url(../img/Rectangle\ 61\ 2.png);
        object-fit: contain;
        width: 320px;
        height: 424px;
        margin-top: 30px;
    }

    .win {
        width: 320px;
        padding-top: 0;
        padding: 0 12px;
    }

    .win-header {
        background-image: url(../img/3.png);
        background-repeat: no-repeat;
        margin-top: 100px;
    }

    .action {
        margin-top: -90px;
        height: 62px;
        width: 62px;
    }

    .win-img {
        margin-top: 10px;
    }

    .win-text {
        width: 296px;
    }

    .win-form-left {
        width: 296px;
    }

    .btn-outline {
        width: 296px;
    }

    .play-win {
        margin-top: 110px;
        font-size: 30px;
    }

    .hp {
        margin-top: -10px;
    }

    .hp-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hp-logo {
        margin-left: 10px;
    }

    .hp-images {
        width: 296px;
        height: 1040px;
    }

    .hp-text {
        width: 296px;
        margin-top: -780px;
    }

    .immerse {
        margin: 0;
    }

    .desc {
        line-height: 30px;
    }

    .buy {
        margin-top: -20px;
    }

    .buy-disc {
        font-size: 30px;
    }

    .buy-desc {
        margin: 70px 12px;
        margin-top: -70px;
    }

    .buy-container {
        display: flex;
        flex-direction: column;
    }

    .footer-container {
        width: 320px;
        display: flex;
        flex-direction: column;
    }

    .footer-logos {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 60px;
    }

    .footer-license {
        width: 323px;
        margin-left: 40px;
        background-color: #E5E5E5;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .bottom {
        margin-top: 300px;
    }
}